<div class="question-panel">
  <div class="panel panel-default">
    <div class="panel-heading">Question {{id}}</div>
    <div class="panel-body">
      <div class="question-title">{{question}}</div>
      {{#each options}}
        <div class="radio">
          <label>
            {{#ifEquals @index ../userAnswer }}
              <input type="radio" name="answer" value="{{@index}}" checked="checked"> {{this}}
            {{else}}
              <input type="radio" name="answer" value="{{@index}}"> {{this}}
            {{/ifEquals}}
          </label>
        </div>
      {{/each}}
    </div>
    <div class="panel-footer clearfix">
      <div class="pull-left">
        <button id="back-button" type="button" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-left"></span> Back</button>
      </div>
      <div class="pull-right">
        <button id="next-button" type="button" class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top" data-trigger="manual" data-original-title="You need to choose one option, man.">Shoot <span class="glyphicon glyphicon-chevron-right"></span><span class="glyphicon glyphicon-chevron-right"></span></button>
      </div>
    </div>
  </div>
</div>